
/local.properties
/gradle.properties
/project.properties

/build
/captures
.gradle

.DS_Store

*.iml

/.idea/*
!.idea/gradle.xml

!.idea/copyright/
.idea/copyright/*
!.idea/copyright/TweetMapLicense.xml
